<%- include('header') -%>
    <div class="wrapper">
        <div class="container">
            <h1 class="mb-3">The Shoppies</h1>
            <form id="movie-form" action="/movies-list" method="GET" class="w-100 mb-3">
                <div class="input-group mb-3">
                    <input type="text" name="movie" id="movie-input" class="form-control" placeholder="Enter the name of the movie" aria-label="Enter the name of the movie" aria-describedby="movie-submit" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark bg-dark text-light" type="submit" id="movie-submit"><i class="fa fa-search"></i> Search</button>
                    </div>
                </div>
            </form>
            <h4 class="result">
                Movies with the keyword "
                <span id="mov-keyword"><%=keyword %></span>"
            </h4>
            <hr/ class="result-divider mb-5 mt-5">
                <% if(results['Response']==='True'){ %>
                    <div id="data" hidden>
                        <%= JSON.stringify(movieDetails) %>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <!-- send dato to the js file-->
                                <% movieDetails.forEach((data)=>{ %>
                                    <div class="col-md-6 col-sm-12 col-xs-12 mb-5">
                                        <div class="card mov-card">
                                            <div class="card-image" style="background-image:url('<%= data['Poster']%>')">
                                                <p class="card-img-title">
                                                    <%= data['Title']%>
                                                </p>
                                                <div class="img-overlay">
                                                    <p><a href="<%= data['Poster']%>" target="_blank"><i class="fas fa-eye"></i></a></p>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-title">
                                                    <%= data['Title']%>
                                                </p>
                                                <hr class="title-divider" />
                                                <p class="card-rating"><span class="topic">IMDB rating:</span> <i class="fas fa-star text-warning"></i> <span class="rating"><%= data['imdbRating']%></span></p>
                                                <p><span class="topic">Released: </span> &nbsp;
                                                    <%= data['Released']%>
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                <a href="" class="btn btn-success"><i class="fa fa-pencil"></i> Nominate</a>
                                            </div>
                                        </div>
                                    </div>
                                    <% }); %>
                                        <% } else{ %>
                                            <h1>
                                                <%= results['Error']%>
                                            </h1>
                                            <% } %>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <b>Nominations</b>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                            </div>
                        </div>
                    </div>
        </div>
    </div>

    <%- include('footer') -%>